[user]
	email = rxin@databricks.com
	name = Reynold Xin

[color]
	ui = true

[merge]
	tool = p4merge

[mergetool]
#	p4merge = cmd
  trustExitCode = false

[diff]
#	external = p4diff

[difftool]
  prompt = false
[alias]
	lg = log --oneline --abbrev-commit --all --graph --decorate --color
[help]
	autocorrect = 1
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
